*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 200;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(210, 22%, 87%);
}
article{
    padding: 1.5rem;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    position: relative;
    max-width: 38rem;
    max-height: 20rem;
}
.testimonial--1{
    background-color: hsl(263, 55%, 52%);
}
.testimonial--2{
    background-color: hsl(217, 19%, 35%);
}
.testimonial--4{
    background-color: hsl(219, 29%, 14%);
}
.testimonial--4 div img{
    border: 2px solid hsl(263, 55%, 52%) !important;
}
.testimonial--3 h5, .testimonial--5 h5{
    color: hsl(217, 19%, 35%);
    font-weight: 500;
}

.testimonial--3, .testimonial--5{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}
.testimonial--3 div p, .testimonial--5 div p{
    color: hsl(217, 19%, 35%);
    opacity: 70%;
}
.testimonial--5 div, .testimonial--3 div{
    min-width: 10rem;
}
article div{
    display: flex;
    max-height: 12vh;
    justify-content: space-between;
    max-width: 8.5rem;
}
article div div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:hsl(0, 0%, 100%);
}
article div div p{
    font-size: 10px;
}
article h3{
    margin-top: 1rem;
}
article div div p{
    color: hsl(0, 0%, 100%);
    opacity: .5;
}
article .testimonial--details img{
    width: 2rem;
    height: 2rem;
    border-radius: 30px;
    border: 1.5px solid hsl(0, 0%, 100%);
    margin-right:1rem;
}
.testimonial--mainComment{
    margin-top: 1rem;
    font-size: 12px;
    opacity: .7;
}
.testimonial--quotes{
    color: initial;
    border: initial;
    position: absolute;
    opacity: .5;
    width: 6rem;
    top: 0rem;
    right: 9.4rem;
}